# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: self-hosted

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Eggplant Runner
        uses: keysight-eggplant/eggplant-github-action@v1.0.19
        with:
          serverURL: "http://192.168.1.68:8000/"
          testConfigID: "c8b8be5a-da14-4e48-97c5-eacf6e898d14"
          clientID: "client:dai:api:integration:58ab4bb9-3c8f-44e3-83c0-0a4569148ab0"
          clientSecret: "6nLYseBufYN9FwFRj0yAyk46INjIpsPe"
