name: CI
 
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
 
jobs:
  Run-Test-Configuration:
    runs-on: self-hosted
    name: Run Test Configuration
    strategy:
      max-parallel: 1
 
    steps:
      # Step 1: Debug runner & event
      - name: Debug trigger & runner info
        shell: cmd
        run: |
          echo Trigger event: %GITHUB_EVENT_NAME%
          echo Runner OS: %RUNNER_OS%
          echo Runner Temp Dir: %RUNNER_TEMP%
      - run: echo "Trigger event.. ${{ github.event_name }}. Runner OS.. ${{ runner.os }}."

      - name: Eggplant Runner
        uses: keysight-eggplant/eggplant-github-action@v1.0.19
        with:
          serverURL: "http://192.168.1.68:8000/"
          testConfigID: "c8b8be5a-da14-4e48-97c5-eacf6e898d14"
          clientID: "client:dai:api:integration:58ab4bb9-3c8f-44e3-83c0-0a4569148ab0"
          clientSecret: "6nLYseBufYN9FwFRj0yAyk46INjIpsPe"
